<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome Info</title>
</head>
<body>
  <h1>Welcome op FitnessDigi!</h1>
  <br>
  <div>
    Eerste tap Fitness is de plaats waar je al de fitness zalen in antw kunt zien.<br>
    Hier is de naam, Type fitness en adress van de fitness. Door op Map te drukken word je doorverwezen naar een map waar de plaats van de fitness gemarkeerd staat.
    Spijtig genoeg werkt de knop map niet omdat opendata lambert coördinaten werkt en ik geen converter werkende heb gekregen.
  </div>
  <br>
  <div>
    Kaart is een snelle manier om even te kijken waar je bent.
  </div>
  <br>
  <div>
    Bij de tap "Het Weer" kan er het huidig weerbericht van antwerpen gevonden met ook de tijden dat de zon op komt en onder gaat.
  </div>
  <br>
  <div>
    Vervolgens heb ik ook nog een BMI index rekenmachiene gemaakt.
    Hiermee kunt u uw BMI bereken en daar uit aflijden of het een goed idee is om te gaan sporten.
    Je kunt natuulijk ook gewoon gaan sporten om je te amuseren!
  </div>
</body>
</html>